<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>productId</key>
		<string>3</string>
		<key>name</key>
		<string>证大e岁悦</string>
		<key>icon</key>
		<string>ico_365</string>
		<key>closePeriod</key>
		<string>12个月</string>
		<key>predictInterest</key>
		<string>10%(年)</string>
		<key>atLeastMoney</key>
		<string>1000元</string>
		<key>feature</key>
		<string>固定期限固定收益，更稳健</string>
		<key>objectCustomer</key>
		<string>适合在一段时间内有闲置资金理财的人群，实现资产增值</string>
	</dict>
	<dict>
		<key>productId</key>
		<string>1</string>
		<key>name</key>
		<string>证大e季喜</string>
		<key>icon</key>
		<string>ico_90</string>
		<key>closePeriod</key>
		<string>3个月</string>
		<key>predictInterest</key>
		<string>8%(年)</string>
		<key>atLeastMoney</key>
		<string>1000元</string>
		<key>feature</key>
		<string>固定期限固定收益，更稳健</string>
		<key>objectCustomer</key>
		<string>适合在一段时间内有闲置资金理财的人群，实现资产增值</string>
	</dict>
	<dict>
		<key>productId</key>
		<string>2</string>
		<key>name</key>
		<string>证大e双鑫</string>
		<key>icon</key>
		<string>ico_180</string>
		<key>closePeriod</key>
		<string>6个月</string>
		<key>predictInterest</key>
		<string>9%(年)</string>
		<key>atLeastMoney</key>
		<string>1000元</string>
		<key>feature</key>
		<string>循环出借方式，获取较高预期收益</string>
		<key>objectCustomer</key>
		<string>适合在一段时间内有闲置资金理财的人群，实现资产增值</string>
	</dict>
</array>
</plist>
